/* ##################################################################  */
/* Dashboard Icon Resize  */
.dashboard-icon img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: solid 2px #9b0000;
}

.dashboard-icon {

    text-align: center;
    padding: 15px;
    /* width: 100%; */
    /* justify-content: center; */

}
/* ##################################################################  */
/* For Wheel Hems Image Upload Start */

.profile-img-div {
  margin-bottom: 30px;
  position: relative;

  height: 150px;
  width: 150px;

  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
  align-items: center;
  margin: 0 auto;
}

#updatephoto {
  height: 100%;
  width: 100%;
}

#imgfile {
  display: none;
}

#uploadimgBtn {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  /* display: none; */
}
/* For Wheel Hems Image Upload End */
/* ##################################################################  */
/* DataTable Customization Start */
table.table-bordered.dataTable tbody th {
  border-bottom-width: 3px;
}

table.table-bordered.dataTable tbody td {
  border-bottom-width: 1px;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-left-width: 1px;
}

/* Datatable select box  */
div.dataTables_wrapper div.dataTables_length select {
  width: 55px;
  display: inline-block;
}

/* DataTable Customization End */
/* ##################################################################  */